//$font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, sans-serif !default;
$font-family: 'Noto Sans JP', "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, sans-serif !default;

html {
  -webkit-text-size-adjust: none;

  font-size: #{$font-size-base}px;
}

body {
  -webkit-backface-visibility: hidden;

  //background-color: #000;
  //overflow-x: hidden;
  //overflow-y: scroll;

  line-height: 1.0;
  font-family: $font-family;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

section, header, footer {
  display: block;
}

section {
  position: relative;
}

svg {
  -webkit-backface-visibility: hidden;
}

p, li, dt, dd, th, td, pre {
  line-break: strict;

  word-break: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

p, div, dl, dt, dd, ul, ol, li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

ul {
  padding-left: 1.5em;

  list-style-type: disc;
}
li {
  list-style-type: disc;
}

em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  font-weight: normal;
}

input,
button,
select,
textarea {
  border: none;
  border-radius: 0;

  box-shadow: none;

  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  background-color: transparent;
}

input[type='text'],
textarea {
  -webkit-appearance: none;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

hr {
  border: none;
  border-radius: 0;

  box-shadow: none;
}

img {
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

video {
  outline: none;
}
