/* grid
------------------------------------------------------------ */
$grid-breakpoints: (
        phone: 0,
        desktop: 992px,
);

/* spacing
------------------------------------------------------------ */
$spacers: (
        0: 0,
        1: 8px,
        2: 16px,
        3: 24px,
        4: 32px,
        5: 40px,
);

/* colors
------------------------------------------------------------ */
//$primary: #000;
